html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100%;
  overflow: hidden; /* hilangkan scroll */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
}
.background-pattern {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px
  );
  background-size: 30px 30px;
  z-index: -1;
}

.container {
  width: 100%;
  height: var(--vh);
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.wheel-wrapper {
  position: relative;
  margin: 15px auto;
  width: 100%;
  max-width: 320px;
}

.level-box {
  font-size: 16px;
}

canvas {
  width: 100%;
  height: auto;
  border-radius: 50%;
  background: white;
}

.pointer {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 35px solid gold; /* arah ke bawah */
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: gold;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: orange;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255, 255, 255, 0.1);
  margin: 2px 0;
  padding: 4px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}

.quiz-box {
  margin-top: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

#questionText {
  font-size: 18px;
  margin-bottom: 10px;
}

#optionsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.option-btn {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  background: #ffffff;
  color: black;
  font-weight: bold;
}

.correct {
  background: #4caf50 !important;
  color: white;
}

.wrong {
  background: #f44336 !important;
  color: white;
}

canvas {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#fullscreenBtn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 32px;
  height: 32px;

  font-size: 16px;

  border-radius: 6px;
  border: none;

  background: rgba(0,0,0,0.6);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

#fullscreenBtn:hover {
  background: gold;
  color: black;
}

